.background {
    margin-top: 30px;
}

.name-flex {
    display: grid;
    grid-template-columns: 50px 0.75fr;
    align-items: center;
    justify-content: center;  
    margin-left: -12px;
    column-gap: 40px;

}

p {
    font-size: 14px;
}

.name,
.style {
    font-weight: 600;
}

.age {
    margin-top: -12px;
}

.patient-bg {
    text-align: justify;
    margin-bottom: 20px;
}

.patient-details,
.log {
    padding: 10px 40px;
}

.timestamp {
    border: 1px solid;
    
}

.precursor-details {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 0 20px;
    align-items: center;
} 