.img-size {
    width: 100%;
    height: 100%;
    /* border-radius: 12px; */
    /* margin: 20px 5px; */
    
}

@media (max-width: 48em) {
    .img-size {
        width: 100%;
        height: 30em;
    }

}

hr {
    width: 100%; 
    height:1px; 
    border-width:0; 
    background-color:black;
    padding: 0;
    margin: 0;

}

.buttons {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    margin-bottom: 20px;
    
    
}

button {
    border-style: none;
    background-color: transparent;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(226, 226, 226);
}

.screen-capture,
.screen-record {    
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
