<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" type="text/css" href="/static/end-style.css">
        <title>FER</title>

    </head>
    <body>
        <h1>Thank you!</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nostrum inventore atque. Accusantium magnam ab similique quam animi, nam quisquam, nulla dolorem aperiam consectetur repudiandae voluptatibus nemo iure! Ab, necessitatibus!</p>

        <div class="flex-container">
            <div class="left-section">
                <div class="circle"></div>
                <h5>03232023:125134.mp4</h5>
            </div>

            <div class="right-section">
                <button class="download-button">
                    <span class="material-symbols-outlined">
                        download
                    </span>
                </button>
                
            </div>
        </div>

        <div class="flex-container">
            <div class="left-section">
                <div class="circle"></div>
                <h5>03232023:125134.mp4</h5>
            </div>

            <div class="right-section">
                <button class="download-button">
                    <span class="material-symbols-outlined">
                        download
                    </span>
                </button>
                
            </div>
        </div>

        <div class="flex-buttons">
            <button class="flex-button-return">
                RETURN TO HOME
            </button>

            <button class="flex-button-download">
                DOWNLOAD ALL FILES
            </button>
        </div>


    </body>
</html>